/**********************
 * ELEMENT CLASSES
 **********************/

/* Buttons */

button {
  --fmtm-button: var(--fmtm-primary);
  --fmtm-button-hover: var(--fmtm-primary-hover);
  --fmtm-button-text: var(--fmtm-primary-inverse);

  background-color: var(--fmtm-button);
  border: none;
  border-radius: var(--fmtm-radius);
  box-shadow: var(--fmtm-shadow);
  color: var(--fmtm-button-text);
  padding: var(--fmtm-size-xs);
  transition: background-color var(--fmtm-transition),
    box-shadow var(--fmtm-transition);
  cursor: pointer;
}

button:hover {
  background-color: var(--fmtm-button-hover);
  box-shadow: var(--fmtm-shadow-hover);
}

button.secondary {
  --fmtm-button: var(--fmtm-secondary);
  --fmtm-button-hover: var(--fmtm-secondary-hover);
  --fmtm-button-text: var(--fmtm-secondary-inverse);
}

button.contrast {
  --fmtm-button: var(--fmtm-contrast);
  --fmtm-button-hover: var(--fmtm-contrast-hover);
  --fmtm-button-text: var(--fmtm-contrast-inverse);
}

.button-group {
  box-shadow: var(--fmtm-shadow);
  transition: box-shadow var(--fmtm-transition);
}
.button-group:hover {
  box-shadow: var(--fmtm-shadow-hover);
}
.button-group button:first-child {
  border-top-left-radius: var(--fmtm-radius);
  border-top-right-radius: var(--fmtm-radius);
}
.button-group button:last-child {
  border-bottom-left-radius: var(--fmtm-radius);
  border-bottom-right-radius: var(--fmtm-radius);
}
.button-group > button {
  box-shadow: none;
  border-radius: 0;
}
.button-group > button + button {
  border-top: 1px solid var(--fmtm-divider);
}
