/**********************
 * ELEMENT CLASSES
 **********************/

/* Buttons */

button {
  --fmtm-button: var(--fmtm-primary);
  --fmtm-button-hover: var(--fmtm-primary-hover);
  --fmtm-button-text: var(--fmtm-primary-inverse);

  background-color: var(--fmtm-button);
  border: none;
  border-radius: var(--fmtm-radius);
  box-shadow: var(--fmtm-shadow);
  color: var(--fmtm-button-text);
  padding: var(--fmtm-size-xs);
  transition: background-color var(--fmtm-transition),
    box-shadow var(--fmtm-transition);
  cursor: pointer;
  font-size: var(--fmtm-size-sm);
}

button:hover {
  background-color: var(--fmtm-button-hover);
  box-shadow: var(--fmtm-shadow-hover);
}

button.secondary {
  --fmtm-button: var(--fmtm-secondary);
  --fmtm-button-hover: var(--fmtm-secondary-hover);
  --fmtm-button-text: var(--fmtm-secondary-inverse);
}

button.contrast {
  --fmtm-button: var(--fmtm-contrast);
  --fmtm-button-hover: var(--fmtm-contrast-hover);
  --fmtm-button-text: var(--fmtm-contrast-inverse);
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.button-group {
  display: flex;
  flex-direction: row;
  box-shadow: var(--fmtm-shadow);
  transition: box-shadow var(--fmtm-transition);
}
.button-group:hover {
  box-shadow: var(--fmtm-shadow-hover);
}
.button-group > button {
  box-shadow: none;
  border-radius: 0;
}
.button-group button:first-child {
  border-top-left-radius: var(--fmtm-radius);
  border-bottom-left-radius: var(--fmtm-radius);
}
.button-group button:last-child {
  border-top-right-radius: var(--fmtm-radius);
  border-bottom-right-radius: var(--fmtm-radius);
}
.button-group > button + button {
  border-left: 1px solid var(--fmtm-divider);
}

.panel {
  z-index: var(--fmtm-panels-layer);
  box-shadow: var(--fmtm-shadow);
  width: max(25vw, 380px);
}
.panel header {
  padding: var(--fmtm-space-md);
  border-top-left-radius: var(--fmtm-radius);
  border-top-right-radius: var(--fmtm-radius);
  background-color: var(--fmtm-background);
}
.panel main {
  padding: var(--fmtm-space-md);
  border-bottom-left-radius: var(--fmtm-radius);
  border-bottom-right-radius: var(--fmtm-radius);
  background-color: var(--fmtm-background-lighter);
}
