/**********************
 * UTILITY CLASSES
 **********************/

/* Positioning */

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.top-md {
  top: var(--fmtm-space-md);
}
.right-md {
  right: var(--fmtm-space-md);
}
.bottom-md {
  bottom: var(--fmtm-space-md);
}
.left-md {
  left: var(--fmtm-space-md);
}

/* Sizing */

.fullscreen {
  width: 100vw;
  height: 100vh;
}
.w-full {
  width: 100%;
}

/* Pointer events */

.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}

/* Z-indexes */

.z-panel {
  z-index: 800;
}
.z-controls {
  z-index: 1000;
}

/* Borders */

.rounded {
  border-radius: var(--fmtm-radius);
}
.rounded-full {
  border-radius: 50%;
}
.rounded-none {
  border-radius: 0;
}

/* Misc */

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shadows */

.shadow {
  box-shadow: var(--fmtm-shadow);
}
.shadow-none {
  box-shadow: none;
}

/* Typography */
.flow > * + * {
  margin-top: 1em;
}
